@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<html>
<head>
	<title class="MyWorkTitle"> KhumaloCraft Emporium </title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href=" MyWork.css" type="text/css" />

</head>
<body>

	<header>

		<div class="container">

			<div class="profile">

				<div class="profile-image">

					<img src="~/lib/Image/CLDV6211 - Logo.png" alt="">

				</div>

				<div class="profile-user-settings">

					<h1 class="profile-user-name"> KhumaloCraft emporium </h1>



					<button class="btn profile-settings-btn" aria-label="profile settings"><i class="fas fa-cog" aria-hidden="true"></i></button>

				</div>

				<div class="profile-stats">

					<ul>
						<li><span class="profile-stat-count">1.5k</span> artisans </li>
						<li><span class="profile-stat-count">10k</span> Artwork</li>
						<li><span class="profile-stat-count">5k+</span> Customers</li>
					</ul>

				</div>

				<div class="profile-bio">

					<p><span class="profile-real-name"> KhumaloCraft emporium:</span> View 1000s of art work on our ever expanding market place</p>

				</div>

			</div>
			<!-- End of profile section -->

		</div>
		<!-- End of container -->

	</header>

	<main>

		<div class="container">

			<div class="gallery">

				<div class="gallery-item" tabindex="0">

					<img src="~/lib/Image/CLDV6211_PartOneImg17.jpg" class="gallery-image" alt="" width="510px" height="400px" >

					<div class="gallery-item-info">

						<ul>
							<li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i> Price: R2000 </li>
							<li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment" aria-hidden="true"></i> Artisan: Finnegan Stone </li>
						</ul>

					</div>

				</div>

				<div class="gallery-item" tabindex="0">

					<img src="~/lib/Image/CLDV6211_PartOneImg10.jpg" class="gallery-image" alt="" height="400px" width="510px">

					<div class="gallery-item-info">

						<ul>
							<li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i> Price: R3000 </li>
							<li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment" aria-hidden="true"></i> Artisan: Isadora Hawthorne </li>
						</ul>

					</div>

				</div>

				<div class="gallery-item" tabindex="0">

					<img src="~/lib/Image/CLDV6211_PartOneImg11.jpg" class="gallery-image" alt="" height="400px" width="510px">

					<div class="gallery-item-type">

						<span class="visually-hidden">Gallery</span><i class="fas fa-clone" aria-hidden="true"></i>

					</div>

					<div class="gallery-item-info">

						<ul>
							<li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i> Price: R4200 </li>
							<li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment" aria-hidden="true"></i> Artisan: Magnus Blackwood </li>
						</ul>

					</div>

				</div>

				<div class="gallery-item" tabindex="0">

					<img src="~/lib/Image/CLDV6211_PartOneImg18.jpg" class="gallery-image" alt="" height="400px" width="510px">

					<div class="gallery-item-type">

						<span class="visually-hidden">Video</span><i class="fas fa-video" aria-hidden="true"></i>

					</div>

					<div class="gallery-item-info">

						<ul>
							<li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i> Price: R3800 </li>
							<li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment" aria-hidden="true"></i> Artisan: Seraphina Rivers </li>
						</ul>

					</div>

				</div>

				<div class="gallery-item" tabindex="0">

					<img src="~/lib/Image/CLDV6211_PartOneImg19.jpg" class="gallery-image" alt="" height="400px" width="510px">

					<div class="gallery-item-type">

						<span class="visually-hidden">Gallery</span><i class="fas fa-clone" aria-hidden="true"></i>

					</div>

					<div class="gallery-item-info">

						<ul>
							<li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i> Price: R4700 </li>
							<li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment" aria-hidden="true"></i> Artisan: Asher Nightingale </li>
						</ul>

					</div>

				</div>

				<div class="gallery-item" tabindex="0">

					<img src="~/lib/Image/CLDV6211_PartOneImg21.jpg" class="gallery-image" alt="" height="400px" width="510px">

					<div class="gallery-item-info">

						<ul>
							<li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i>Price: R9400</li>
							<li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment" aria-hidden="true"></i> Artisan: Delilah Frost </li>
						</ul>

					</div>

				</div>

				<div class="gallery-item" tabindex="0">

					<img src="~/lib/Image/CLDV6211_PartOneImg20.jpg" class="gallery-image" alt="" height="400px" width="510px">

					<div class="gallery-item-type">

						<span class="visually-hidden">Gallery</span><i class="fas fa-clone" aria-hidden="true"></i>

					</div>

					<div class="gallery-item-info">

						<ul>
							<li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i>Price: R5200</li>
							<li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment" aria-hidden="true"></i> Artisan: Thaddeus Silvermane </li>
						</ul>

					</div>

				</div>

				<div class="gallery-item" tabindex="0">

					<img src="~/lib/Image/CLDV6211_PartOneImg9.jpg" class="gallery-image" alt="" height="400px" width="510px">

					<div class="gallery-item-info">

						<ul>
							<li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i>Price: R6600</li>
							<li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment" aria-hidden="true"></i> Artisan: Marigold Winters </li>
						</ul>

					</div>

				</div>

				<div class="gallery-item" tabindex="0">

					<img src="~/lib/Image/CLDV6211_PartOneImg13.jpg" class="gallery-image" alt="" height="400px" width="510px">

					<div class="gallery-item-type">

						<span class="visually-hidden">Gallery</span><i class="fas fa-clone" aria-hidden="true"></i>

					</div>

					<div class="gallery-item-info">

						<ul>
							<li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i>Price: R4500</li>
							<li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment" aria-hidden="true"></i> Artisan: Orion Emberwood </li>
						</ul>

					</div>

				</div>

				<div class="gallery-item" tabindex="0">

					<img src="~/lib/Image/CLDV6211_PartOneImg14.jpg" class="gallery-image" alt="" height="400px" width="510px">

					<div class="gallery-item-info">

						<ul>
							<li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i> Price: R3400</li>
							<li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment" aria-hidden="true"></i> Artisan: Lyra Everhart </li>
						</ul>

					</div>

				</div>

				<div class="gallery-item" tabindex="0">

					<img src="~/lib/Image/CLDV6211_PartOneImg15.jpg" class="gallery-image" alt="" height="400px" width="510px">

					<div class="gallery-item-info">

						<ul>
							<li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i>Price: R4100</li>
							<li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment" aria-hidden="true"></i> Artisan: Jasper Whitethorn </li>
						</ul>

					</div>

				</div>

				<div class="gallery-item" tabindex="0">

					<img src="~/lib/Image/CLDV6211_PartOneImg16.jpg" class="gallery-image" alt="" height="400px" width="510px">

					<div class="gallery-item-type">

						<span class="visually-hidden">Video</span><i class="fas fa-video" aria-hidden="true"></i>

					</div>

					<div class="gallery-item-info">

						<ul>
							<li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i>Price: R3000</li>
							<li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment" aria-hidden="true"></i> Artisan: Astrid Starling </li>
						</ul>

					</div>

				</div>

			</div>
			<!-- End of gallery -->

			<div class="loader"></div>

		</div>
		<!-- End of container -->

	</main>

</body>
</html>


<!-- All Images used for website have been taken from pexels.com https://www.pexels.com/-->